<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project=> { %>
                <li><strong>
                        <%= project.title %>
                    </strong>:
                    <p> <%= project.description %></p>
                    <p> <%= project.location %> - <span> <%= project.project_date %></span></p>
                </li>
                <% }) %>
        </ul>
    </main>
    <%- include('partials/footer') %>